{{ attach_library('cavimac/cavimac')}}
<p>Test twig template!</p>
<a id="load" href="" > Récupération des données txt </a>
<a href = "cotisation/declaration/community"> Commencer ma déclaration de cotisation </a>
<p class="text">{{ text }}</p>  

<p>test_var: {{ myData }} </p>


