
<div>
  {% if errorMessage %}
    {# Aucune collectivité avec ce numéro #}
    <h2> {{ errorMessage }}</h2>
  {% else %}

  {# Information de la collectivité #}
  <div class="community">

    <h2 class="first-letter-upper title"> étape1 - Vérification des membres de la collectivité: 
      <span> {{ community.community_name }} </span>
    </h2>

    <table>
      <tr>
          <th>N° de collectivité </th>
          <th>N° de compte </th>
          <th>Date d'échéance</th>
          <th>Mois</th>
          <th>Année</th>
      </tr>
      <tr>    
        <td>
          <p class="community_information"> {{ community.community_number }} </p>
        </td>
        <td>
          <p class="community_information"> {{ community.account }} </p>
        </td>
        <td>
          <p class="community_information"> {{ community.due_date|date("d/m/Y") }} </p>
        </td>
        <td>
          <p class="community_information first-letter-upper"> {{ community.month }} </p>
        </td>
        <td>
          <p class="community_information"> {{ community.year }} </p>
        </td>
      </tr>
    <table>
  <div>

    {# si pas de membre dans cette collectivité #}

    {% if not members > 0 %} 
      <h3> Cette collectivité n'a pas de membre </h3>
    {% else %}
      {# tableau des membres de la collectivité #}
      <table class="table">     
        <tr>
            <th>Nom </th>
            <th>Prénom</th>
            <th>Statut</th>
            <th>NIR</th>
            <th>RN</th>
            <th>RP</th>
            <th>RO</th>
            <th>RCO</th>
            <th>CSG1</th>
            <th>CSG2</th>
            <th>CSG3</th>
            <th>CSG4</th>
            <th>CSG5</th>
            <th>RV</th>
        </tr>    
        {% for member in members %}
          <tr data-nir= "{{ member.nir}}" class="member"> 
            <td>
              <p class="text">
               {{ member.first_name }} </td>       
              </p>
            <td>
              <p class="text">
               {{ member.last_name }} </td>
              </p>
            <td>
              <p class="text">
               {{ member.status_label }} </td>
              </p>
            <td>
              <p class="text">
               {{ member.nir }} </td>
              </p>
            <td> <p class="top">
                  {{ member.top_rn }} 
                </p>
            </td>
            <td> <p class="top">
                  {{ member.top_rp }} 
                </p>
            </td>
            <td> <p class="top">
                  {{ member.top_ro }} 
                </p>
            </td>
            <td> <p class="top">
                  {{ member.top_rco }} 
                </p>
            </td>
            <td> <p class="top">
                  {{ member.top_csg1 }} 
                </p>
            </td>
            <td> <p class="top">
                  {{ member.top_csg2 }} 
                </p>
            </td>
            <td> <p class="top">
                  {{ member.top_csg3 }} 
                </p>
            </td>
            <td> <p class="top">
                  {{ member.top_csg4 }} 
                </p>
            </td>
            <td> <p class="top">
                  {{ member.top_csg5 }} 
                </p>
            </td>
            <td> <p class="top">
                  {{ member.top_rv }} 
                </p>
            </td>
              {# {% for property in member %}
                <td> {{ property }} </td>
              {% endfor %} #}
          </tr>
        {% endfor %}
      </table>

      {# passe à l'étape du bordereau #}
      <a href = "cotisation/slip/community/"> Passer à la validation du borderau </a>
      <a href = "cotisation/slip/community/add-member"> Ajouter un membre </a>
      
    {% endif %}
  {% endif %}
</div>