<div class="member_modal">
  <div class="header">
    <h2> Modification situation de {{ member.first_name }} {{ member.last_name }} </h2>
    <div class="header_text">
      <p> N° {{ member.nir }} </p>      
      <p class="header_text_status"> {{ member.status_label }} </p>
    </div>
  </div>  

  <form id="member-form">
    <h3>Sélectionner un nouveau statut</h3>

    {# numéro nir  #}
    <input type="hidden" name="nir" value= {{ member.nir }}>    

  {# selection du status disponible #}
    <div class="status_container">
      {% for st in status %}
        <div class="status_ul">
          <input class="status" data-csg = {{ st.csg }} value="{{ st.statusId }}" type="radio" id= "{{ st.statusLabel }}" name="status"
            {% if  member.status|lower is same as (st.status) %} checked="checked" {% endif %}  
          >
          <label class="status_label" for= "{{ st.statusLabel }}"> {{ st.statusLabel  }} </label> 
        </div>
      {% endfor %}
    </div>

    {#  selection de la CSG #}
   <div class="csg_container">    
      <h3> Sélectionner la CSG </h3>

      <p class="csg_unvailable csg_text_select"> Sélectionnez un nouveau statut </p>
      <p class="csg_unvailable csg_text_empty">Il n'y a pas de CSG pour ce statut</p>

      <div class="csg_list">
        <div class="csg1 csg_item" >
          <input  value="1" type="radio" id="csg1" name="csg"
            {% if  member.top_csg1|lower is same as ('x') %} data-checked="x" {% else %} data-checked="-" {% endif %}           
            {% if  member.top_csg1|lower is same as ('x') %} checked="checked" {% endif %}
          >
          <label for="csg1"> CGS1 </label>        
        </div>
        <div class="csg2 csg_item">
          <input value="2" type="radio" id="csg2" name="csg"
            {% if  member.top_csg2|lower is same as ('x') %} data-checked="x" {% else %} data-checked="-" {% endif %}  
            {% if  member.top_csg2|lower is same as ('x') %} checked="checked" {% endif %}
          > 
          <label  for="csg2"> CGS2 </label>        
        </div>
        <div class="csg3 csg_item">
          <input value="3" type="radio" id="csg3" name="csg" 
            {% if  member.top_csg3|lower is same as ('x') %} data-checked="x" {% else %} data-checked="-" {% endif %}  
            {% if  member.top_csg3|lower is same as ('x') %} checked="checked" {% endif %}
          > 
          <label for="csg3"> CGS3 </label>        
        </div>
        <div class="csg4 csg_item">
          <input value="4" type="radio" id="csg4" name="csg"
            {% if  member.top_csg4|lower is same as ('x') %} data-checked="x" {% else %} data-checked="-" {% endif %}  
            {% if  member.top_csg4|lower is same as ('x') %} checked="checked" {% endif %}> 
          <label for="csg4"> CGS4 </label>        
        </div>
        <div class="csg5 csg_item">
          <input value="5" type="radio" id="csg5" name="csg" 
            {% if  member.top_csg5|lower is same as ('x') %} data-checked="x" {% else %} data-checked="-" {% endif %}  
            {% if  member.top_csg5|lower is same as ('x') %} checked="checked" {% endif %}
          > 
          <label for="csg5"> CGS5 </label>        
        </div>
      </div>      
    </div>    
    
    {# boutton de validation #}
    <div class="button_container">
      <span>
        <input class="updateMember" type="submit" value="valider le changement de situation">
      </span>
    </div>    
  </form> 
</div>