/* CSS pour affichage d'un membre */
.ui-dialog {
  width: 650px !important;
}

.ui-widget-header {
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

.header__feedback {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
}
.error {
  color: red;
}

.member_modal .header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 25px;
}

.member_modal .header > h2 {
  font-size: 24px;
  font-weight: 600;  
  margin-top: 0px !important;   
  margin-bottom: 0px !important;   
}

.member_modal .header > .header_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 18px;
}

.header_text_status {
  font-size: 13px;
}

#member-form > h3, #member-form > .csg_container > h3 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 15px;
  margin: 0px;
}

.status_container, .csg_container {
  font-size: 16px;
}

.status_ul {
  padding-bottom: 10px;
}

.status_label {
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: 600;
}

.csg_container{  
  display: flex;
  flex-direction: column;
  padding-top: 20px;  
  padding-bottom: 40px;
  width: 100%;
  font-size: 14px;  
  height: 120px;
}

.csg_list {
  display: flex;
}

.csg_item{
  padding-right: 20px;
}

.button_container {
  display: flex;
  width: 100%;
  background-color: blue;
}

.button_container span {
  width: 100%;
  background-color: aquamarine;
}

.button_container span > input {
  width: 100%;
  cursor: pointer;
}

