/* CSS pour affichage membre collectivité */
.community {
  width: 100%;
}
.community table {
  width: 100%;
  margin-bottom: 40px;
}

.community .title {
  font-size: 24px;
  font-weight: 600;
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 28px;
}

.community table .community_information {
  text-align: center !important;
}

.community .first-letter-upper::first-letter {
  text-transform: uppercase;
}

.table {  
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  white-space: nowrap;
  font-size: 14px;
  line-height: 16px;
  height: 45px;
}

th {
  text-align: center;
  background-color: rebeccapurple;
  color: white;
}

td {
  cursor: pointer;
} 

tr:hover {
  background-color: #D6EEEE;
}

td > p.text {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

td > p.top{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  text-align: center;
  background-color: transparent;
}